<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.net.serbis.folder.player" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="ru.net.serbis.share.BIND_FILES_SERVICE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app"
        android:theme="@style/Theme"
		android:resizeableActivity = "true">

        <activity
            android:name=".activity.Main"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ExceptionReport"
            android:label="@string/uncaught_exception">
        </activity>

        <service android:name=".service.PlayerService"/>

        <receiver android:name=".receiver.PlayerReceiver">
            <intent-filter>
                <action android:name="PLAY_PAUSE"/>
                <action android:name="PREVIOUS"/>
                <action android:name="NEXT"/>
                <action android:name="SKIP_LEFT"/>
                <action android:name="SKIP_RIGHT"/>
                <action android:name="CLOSE"/>
                <action android:name="INIT"/>
                <action android:name="NOTIFY"/>
            </intent-filter>
        </receiver>

        <receiver 
            android:name=".receiver.MediaButtonReceiver">           
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />               
            </intent-filter>
        </receiver>

    </application>

</manifest>
